html {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Dreams American Diner demo;
  src: url("../fonts/Dreams-American-Diner-demo.otf") format("opentype");
}
@font-face {
  font-family: Hamburger Heaven;
  src: url("../fonts/Hamburger-Heaven.ttf") format("truetype");
}

/* -------------------------------DEBUT NAV------------------------------- */
.navbar-default {
  background-color: #5a3d28;
  border-color: transparent;
  z-index: 9999;
}
.navbar-default .navbar-header .navbar-brand {
  color: white;
  margin-left: -15px;
  font-size: 1vw;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  font-family: 'Hamburger Heaven';
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    height:50px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default .navbar-header .navbar-brand,
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default .menu {
    height: 50px;
    margin: 0;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default .menu > li {
    height: 50px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default.affix {
    background-color: #5a3d28;
    height:50px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 0;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #ca3e3e;
    -webkit-transition: all 0.85s;
    -moz-transition: all 0.85s;
    transition: all 0.85s;
  }
}
.logo {
  float: left;
  padding-top: 15px;
  margin-right: 15px;
  height:35px;
}
@media (max-width: 767px) {
  .logo {
    margin-left: 10px;
  }
  .navbar-default .navbar-header .navbar-brand {
    font-size: 14px;
  }
  nav ul li {
    text-align: center;
  }
  nav ul .active {
    background-color: white;
  }
  nav ul li:hover {
    background-color: #9d9d9d;
  }
}
/* ------FIN QUAND LARGEUR FENETRE/ECRAN < 768px------ */

.menu li { /* corrige la nav wp */
  float: right;
  list-style: none;
}
.menu li a { /* corrige la nav wp */
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    text-decoration: none;
    color: white;
    z-index: 1;
    background-color: transparent;
    width: inherit;
  }

  .navbar-default .navbar-nav > li > a:hover {
    color: white;
  }

  .navbar-default .navbar-nav > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    background: #e2c57a;
    visibility: hidden;
    transform: scaleX(0);
    transition: .25s linear;
  }

  .navbar-default .navbar-nav > li > a:hover:before,
  .navbar-default .navbar-nav > li > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  }

  .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:focus:hover {
    color: white;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: inherit;
  }
  .navbar-default .navbar-nav > .active > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    background: #e2c57a;
    visibility: visible;
    transform: scaleX(1);
  }
  .navbar-nav > li > a {
    margin: 15px;
    padding: 0;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .navbar-default .navbar-nav > .connexion > a,
  .navbar-default .navbar-nav > .connexion > a:hover,
  .navbar-default .navbar-nav > .connexion > a:focus,
  .navbar-default .navbar-nav > .connexion > a:focus:hover{
    color: #e2c57a;
  }
  .navbar-default .navbar-nav > .connexion > a:hover:before,
  .navbar-default .navbar-nav > .connexion > a:focus:before {
    visibility: hidden;
    transform: scaleX(0);
  }
}
/* -------------------------------FIN NAV------------------------------- */

/* -------------------------------FOOTER------------------------------- */
.footer {
  height: 280px;
  background-color: #564a41;
  position: relative;
  -moz-box-shadow: 0px -1px 5px 0px #656565;
  -webkit-box-shadow: 0px -1px 5px 0px #656565;
  -o-box-shadow: 0px -1px 5px 0px #656565;
  box-shadow: 0px -1px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=5);
}
.footer a {
  position: absolute;
  left: 15px;
  top: 15px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.footer a:hover{
  opacity: 0.7;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.footer p {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
}
.footer .p1 {
  right: 20px;
  top: 30px;
  font-family: 'Roboto', sans-serif;
}
.footer .p2 {
  left: 80px;
  top: 30px;
  font-size: 20px;
  font-family: 'Dreams American Diner demo';
}

@media (max-width: 410px) {
  footer .p2 {
    font-size: 0;
  }
}
/* -------------------------------FIN FOOTER------------------------------- */

/* -------------------------------fleche backtop------------------------------- */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #761c19 url('../img/cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #564a41;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}
/* -------------------------------fin fleche backtop------------------------------- */

/* -------------------------------------Classement ----------------------------------*/

.classement {
  color : #e2c57a;
}
/* -------------------------------------Classement ----------------------------------*/

/* -------------------------------------Univers ----------------------------------*/
.univ-cartes {
  text-align: center;
  background-color: rgb(189, 172, 128);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0;
}
.univ-carte {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

.univ-carte-cadre {
  background-color: #7b5e42;
  width: 200px;
  margin: 0 auto;
  border-bottom: 7px solid #e2c57a;
  border-left: 2px solid #e2c57a;
  border-right: 2px solid #e2c57a;
  border-top: 4px solid #e2c57a;
  border-radius: 4px;
}
.univ-carte .univ-carte-cadre h2 {
  text-transform: uppercase;
  font-size: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  color: lemonchiffon;
}

.univ-carte .univ-carte-cadre img {
  width: 100%;
  border: 1px solid #e2c57a;
}

.univ-carte .univ-carte-cadre h3 {
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
  color: #e2c57a;
}
.univ-carte .univ-carte-cadre p {
  font-size: 14px;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 10px;
  color: #e2c57a;
}
/* -------------------------------------Univers ----------------------------------*/






/* plateau */
.contentacc {
  margin: 0;
  padding: 0;
  background-image: url("../img/fond_plateau.jpg");
  background-size: cover;
}

.contentacc .plateau {
  height: 650px;
  position: relative;
  width: 95%;
  margin: 5% auto 5% auto;
}

.contentacc .plateau .top {
  position: relative;
  width: 100%;
  height: 120px;
  z-index: 999;
}

.contentacc .tcontent {
  width: 100%;
  overflow: hidden;
}

.contentacc .t1 {
  width: 20%;
  height: 400px;
  background-color: hsla(160, 78%, 13%, 1);
  float: left;
  position: relative;
  border: 1px solid #e2c57a;
}
.contentacc .t2 {
  width: 20%;
  height: 400px;
  background-color: hsla(37, 86%, 37%, 1);
  float: left;
  position: relative;
  border: 1px solid #e2c57a;

}
.contentacc .t3 {
  width: 20%;
  height: 400px;
  background-color: hsla(182, 62%, 32%, 1);
  float: left;
  position: relative;
  border: 1px solid #e2c57a;
}
.contentacc .t4 {
  width: 20%;
  height: 400px;
  background-color: hsla(359, 78%, 42%, 1);
  float: left;
  position: relative;
  border: 1px solid #e2c57a;

}
.contentacc .t5 {
  width: 20%;
  height: 400px;
  background-color: hsla(14, 71%, 30%, 1);
  /*background-image: url("../img/fond5.png");*/
  background-size: cover;
  float: left;
  position: relative;
  border: 1px solid #e2c57a;

}

.contentacc .defausse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 75px;
  width: 56px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid #2b2b2b;
}

.contentacc .defausse-t1 {
  border-color: black;
}

.contentacc .defausse img {
  width: 50px;
  border: 2px solid #e2c57a;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 3px;
}

.contentacc .cartescontainer {
  position: absolute;
  text-align: center;
  z-index: 8000;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.contentacc .cartescontainer .carte {
  background-color: #e2c57a;
  border-radius: 5px;
  display: inline-block;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  text-align: center;
  padding: 3px;
}

.contentacc .cartescontainer .carte img {
  width: 70px;
}
@media (max-width: 1199px) {
  .contentacc .cartescontainer .carte img {
    width: 6vw;
  }
}
.contentacc .score {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1099;
  color: #e2c57a;
}

.contentacc .score h3 {
  font-size: 24px;
  margin-top: 0;
  font-family: "Hamburger Heaven";
}

.contentacc .score h4 {
  font-size: 16px;
  font-family: "Hamburger Heaven";
}

.contentacc .pioche {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1099;
  color: #e2c57a;
}

.contentacc .pioche-text {
  position: absolute;
  top: 50px;
  right: 90px;
  font-family: "Hamburger Heaven";
  font-size: 24px;
}

.contentacc .pioche-carte-bckgr {
  padding: 1px;
  border-radius: 5px;
  background-color: #e2c57a;

}

.contentacc .pioche img {
  width: 60px;
}

.contentacc .pioche-activated {
  position: absolute;
  top: -5px;
  left: -7px;
  transform:rotate(-7deg);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.contentacc .pioche-activated:hover {
  top: 2px;
  left: -14px;
  transform:rotate(-4deg);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}


@media (min-width: 1200px) {
  .contentacc .j1 {
    height: 50%;
    list-style: none;
    position: relative;
  }

  .contentacc .j1 img {
    width: 50px;
    position: absolute;
    border: 2px solid #e2c57a;
    left: 3%;
    z-index: 100;
    top: 20px;
    border-radius: 3px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }

  .contentacc .j1 img:nth-child(2) {
    left: 10%;
    z-index: 101;
  }
  .contentacc .j1 img:nth-child(3) {
    left: 17%;
    z-index: 102;
  }
  .contentacc .j1 img:nth-child(4) {
    left: 24%;
    z-index: 103;
  }
  .contentacc .j1 img:nth-child(5) {
    left: 31%;
    z-index: 104;
  }
  .contentacc .j1 img:nth-child(6) {
    left: 38%;
    z-index: 105;
  }
  .contentacc .j1 img:nth-child(7) {
    left: 45%;
    z-index: 106;
  }
  .contentacc .j1 img:nth-child(8) {
    left: 52%;
    z-index: 107;
  }
  .contentacc .j1 img:nth-child(9) {
    left: 59%;
    z-index: 108;
  }
  .contentacc .j1 img:nth-child(10) {
    left: 66%;
    z-index: 109;
  }
  .contentacc .j1 img:nth-child(12) {
    left: 73%;
    z-index: 110;
  }
  .contentacc .j1 img:hover{
    width: 85px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
    top: 5px;
    z-index: 9999;
  }

  .contentacc .j2 {
    height: 50%;
    list-style: none;
    position: relative;
  }

  .contentacc .j2 img {
    width: 50px;
    position: absolute;
    border: 2px solid #e2c57a;
    left: 3%;
    z-index: 100;
    bottom: 20px;
    border-radius: 3px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }

  .contentacc .j2 img:nth-child(2) {
    left: 10%;
    z-index: 101;
  }
  .contentacc .j2 img:nth-child(3) {
    left: 17%;
    z-index: 102;
  }
  .contentacc .j2 img:nth-child(4) {
    left: 24%;
    z-index: 103;
  }
  .contentacc .j2 img:nth-child(5) {
    left: 31%;
    z-index: 104;
  }
  .contentacc .j2 img:nth-child(6) {
    left: 38%;
    z-index: 105;
  }
  .contentacc .j2 img:nth-child(7) {
    left: 45%;
    z-index: 106;
  }
  .contentacc .j2 img:nth-child(8) {
    left: 52%;
    z-index: 107;
  }
  .contentacc .j2 img:nth-child(9) {
    left: 59%;
    z-index: 108;
  }
  .contentacc .j2 img:nth-child(10) {
    left: 66%;
    z-index: 109;
  }
  .contentacc .j2 img:nth-child(12) {
    left: 73%;
    z-index: 110;
  }
  .contentacc .j2 img:hover{
    width: 85px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
    bottom: 5px;
    z-index: 9999;
  }
}
.contentacc .j1 img {
  width: 50px;
  position: absolute;
  border: 2px solid #e2c57a;
  left: 2%;
  z-index: 100;
  top: 20px;
  border-radius: 3px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.contentacc .j1 img:nth-child(2) {
  left: 8%;
  z-index: 101;
}
.contentacc .j1 img:nth-child(3) {
  left: 14%;
  z-index: 102;
}
.contentacc .j1 img:nth-child(4) {
  left: 20%;
  z-index: 103;
}
.contentacc .j1 img:nth-child(5) {
  left: 26%;
  z-index: 104;
}
.contentacc .j1 img:nth-child(6) {
  left: 32%;
  z-index: 105;
}
.contentacc .j1 img:nth-child(7) {
  left: 38%;
  z-index: 106;
}
.contentacc .j1 img:nth-child(8) {
  left: 44%;
  z-index: 107;
}
.contentacc .j1 img:nth-child(9) {
  left: 50%;
  z-index: 108;
}
.contentacc .j1 img:nth-child(10) {
  left: 56%;
  z-index: 109;
}
.contentacc .j1 img:nth-child(12) {
  left: 62%;
  z-index: 110;
}
.contentacc .j1 img:hover{
  width: 85px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  top: 5px;
  z-index: 9999;
}

.contentacc .j2 {
  height: 50%;
  list-style: none;
  position: relative;
}

.contentacc .j2 img {
  width: 50px;
  position: absolute;
  border: 2px solid #e2c57a;
  left: 2%;
  z-index: 100;
  bottom: 20px;
  border-radius: 3px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.contentacc .j2 img:nth-child(2) {
  left: 8%;
  z-index: 101;
}
.contentacc .j2 img:nth-child(3) {
  left: 14%;
  z-index: 102;
}
.contentacc .j2 img:nth-child(4) {
  left: 20%;
  z-index: 103;
}
.contentacc .j2 img:nth-child(5) {
  left: 26%;
  z-index: 104;
}
.contentacc .j2 img:nth-child(6) {
  left: 32%;
  z-index: 105;
}
.contentacc .j2 img:nth-child(7) {
  left: 38%;
  z-index: 106;
}
.contentacc .j2 img:nth-child(8) {
  left: 44%;
  z-index: 107;
}
.contentacc .j2 img:nth-child(9) {
  left: 50%;
  z-index: 108;
}
.contentacc .j2 img:nth-child(10) {
  left: 56%;
  z-index: 109;
}
.contentacc .j2 img:nth-child(12) {
  left: 62%;
  z-index: 110;
}
.contentacc .j2 img:hover{
  width: 85px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  bottom: 5px;
  z-index: 9999;
}

@media (max-width: 768px) {
  .contentacc .j1 img {
    width: 6vw;
  }
  .contentacc .j1 img:hover {
    width: 11vw;
  }
  .contentacc .j2 img {
    width: 6vw;
  }
  .contentacc .j2 img:hover {
    width: 11vw;
  }
}

.classement {
  margin: 2.5% auto 0 auto;
  height: 300px;
  width: 95%;
  background-color: hsla(43,64%,65%,0.85);
}

.carte-boutons {
  font-family: "Hamburger Heaven";
}

.carte-boutons .boutons-jouer {
  position: absolute;
  right: 4vw;
  top: 30px;
  width: 100px;
  font-size: 16px;
  text-transform: uppercase;
  height: 3em; /* hauteur du parent */
  line-height: 3em; /* hauteur de ligne (identique) */
  white-space: nowrap; /* interdiction de passer à la ligne */
  background-color: #e2c57a;
  color: #5a3d28;
  border-radius: 3px ;
  -webkit-transition: all 045s;
  -moz-transition: all 0.45s;
  transition: all 0.45s;
  border: 2px solid #5a3d28;
}

.carte-boutons .boutons-jouer:hover {
  border-radius: 0;
  -webkit-transition: all 045s;
  -moz-transition: all 0.45s;
  transition: all 0.45s;
  text-decoration: none;
  border: 2px solid #e2c57a;
  background-color: #5a3d28;
  color: #e2c57a;
}

.carte-boutons .boutons-defausser {
  position: absolute;
  left: 4vw;
  width: 100px;
  top: 30px;
  font-size: 16px;
  height: 3em; /* hauteur du parent */
  line-height: 3em; /* hauteur de ligne (identique) */
  white-space: nowrap; /* interdiction de passer à la ligne */
  background-color: #e2c57a;
  text-transform: uppercase;
  color: #5a3d28;
  border-radius: 3px;
  -webkit-transition: all 045s;
  -moz-transition: all 0.45s;
  transition: all 0.45s;
  border: 2px solid #5a3d28;
}

.carte-boutons .boutons-defausser:hover {
  background-color: #5a3d28;
  border-radius: 0;
  -webkit-transition: all 045s;
  -moz-transition: all 0.45s;
  transition: all 0.45s;
  text-decoration: none;
  border: 2px solid #e2c57a;
  color: #e2c57a;
}

@media (max-width: 1199px) {
  .carte-boutons .boutons-jouer {
    right: 4vw;
    top: 25%;
    width: 7vw;
    font-size: 1.4vw;
    height: 3em; /* hauteur du parent */
    vertical-align: middle;
  }

  .carte-boutons .boutons-defausser {
    left: 4vw;
    width: 7vw;
    top: 25%;
    font-size: 1.4vw;
    height: 3em; /* hauteur du parent */
    vertical-align: middle;
  }
  .contentacc .j1 {
    height: 50%;
    list-style: none;
    position: relative;
  }
  .contentacc .cartescontainer .carte {
    padding: 0.4vw;
  }
}

@media (max-width: 768px) {
  .contentacc .cartescontainer {
    text-align: left;
    padding-left: 1vw;
  }

  .carte-boutons .boutons-jouer {
    top: 0;
    right: 1vw;
    width: 10vw;
  }
  .carte-boutons .boutons-defausser {
    right: 1vw;
    left: inherit;
    bottom: 0;
    top: inherit;
    width: 10vw;
  }
}