html {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Dreams American Diner demo;
  src: url("fonts/Dreams-American-Diner-demo.otf") format("opentype");
}
@font-face {
  font-family: Hamburger Heaven;
  src: url("fonts/Hamburger-Heaven.ttf") format("truetype");
}

/* -------------------------------DEBUT NAV------------------------------- */
.navbar-default {
  background-color: #5a3d28;
  border-color: transparent;
}
.navbar-default .navbar-header .navbar-brand {
  color: white;
  margin-left: -15px;
  font-size: 1vw;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  font-family: 'Hamburger Heaven';
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    height:50px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default .navbar-header .navbar-brand,
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default .menu {
    height: 50px;
    margin: 0;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default .menu > li {
    height: 50px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default.affix {
    background-color: #5a3d28;
    height:50px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    font-size: 0;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #ca3e3e;
    -webkit-transition: all 0.85s;
    -moz-transition: all 0.85s;
    transition: all 0.85s;
  }
}
.logo {
  float: left;
  padding-top: 15px;
  margin-right: 15px;
  height:35px;
}
@media (max-width: 767px) {
  .logo {
    margin-left: 10px;
  }
  .navbar-default .navbar-header .navbar-brand {
    font-size: 14px;
  }
  nav ul li {
    text-align: center;
  }
  nav ul .active {
    background-color: white;
  }
  nav ul li:hover {
    background-color: #9d9d9d;
  }
}
/* ------FIN QUAND LARGEUR FENETRE/ECRAN < 768px------ */

.menu li { /* corrige la nav wp */
  float: right;
  list-style: none;
}
.menu li a { /* corrige la nav wp */
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    text-decoration: none;
    color: white;
    z-index: 1;
    background-color: transparent;
    width: inherit;
  }

  .navbar-default .navbar-nav > li > a:hover {
    color: white;
  }

  .navbar-default .navbar-nav > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    background: #e2c57a;
    visibility: hidden;
    transform: scaleX(0);
    transition: .25s linear;
  }

  .navbar-default .navbar-nav > li > a:hover:before,
  .navbar-default .navbar-nav > li > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
  }

  .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:focus:hover {
    color: white;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: inherit;
  }
  .navbar-default .navbar-nav > .active > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -3px;
    background: #e2c57a;
    visibility: visible;
    transform: scaleX(1);
  }
  .navbar-nav > li > a {
    margin: 15px;
    padding: 0;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .navbar-default .navbar-nav > .connexion > a,
  .navbar-default .navbar-nav > .connexion > a:hover,
  .navbar-default .navbar-nav > .connexion > a:focus,
  .navbar-default .navbar-nav > .connexion > a:focus:hover{
    color: #e2c57a;
  }
  .navbar-default .navbar-nav > .connexion > a:hover:before,
  .navbar-default .navbar-nav > .connexion > a:focus:before {
    visibility: hidden;
    transform: scaleX(0);
  }
}
/* -------------------------------FIN NAV------------------------------- */

/* -------------------------------FOOTER------------------------------- */
.footer {
  height: 280px;
  background-color: #564a41;
  position: relative;
  -moz-box-shadow: 0px -1px 5px 0px #656565;
  -webkit-box-shadow: 0px -1px 5px 0px #656565;
  -o-box-shadow: 0px -1px 5px 0px #656565;
  box-shadow: 0px -1px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=5);
}
.footer a {
  position: absolute;
  left: 15px;
  top: 15px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.footer a:hover{
  opacity: 0.7;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.footer p {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  position: absolute;
}
.footer .p1 {
  right: 20px;
  top: 30px;
  font-family: 'Roboto', sans-serif;
}
.footer .p2 {
  left: 80px;
  top: 30px;
  font-size: 20px;
  font-family: 'Dreams American Diner demo';
}

@media (max-width: 410px) {
  footer .p2 {
    font-size: 0;
  }
}
/* -------------------------------FIN FOOTER------------------------------- */

/* -------------------------------fleche backtop------------------------------- */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #7b5e42 url('../img/cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #564a41;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}
/* -------------------------------fin fleche backtop------------------------------- */

/* -------------------------------------Classement ----------------------------------*/

.classement {
  color : #e2c57a;
}