{% trans_default_domain 'FOSUserBundle' %}

<section id="contact">
    <div class="row">
        <div class="col-lg-10 col-sm-12 col-xs-12 contactform">

            <section class="custom-form">
                <h2>Editer votre profil</h2>

                {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-block btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </section>

        </div>
    </div>
</section>