{% extends '::base.html.twig' %}

{% block body %}
    <div class="zone" id="z0">
        <div class="zbackground"></div>
    </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}



<section id="contact"  style="margin-bottom: 150px; margin-top: 50px;">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
</section>


{% endblock %}
