{% extends "::base.html.twig" %}

{% block title %}
    Stuff Me | Card game
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Stuff <span class="color">Me </span>👉👌</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li><a href="{{ path('index') }}">FR</a></li>
                                <li class="active"><a href="{{ path('index_en') }}">EN</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover rebours">
                    <h1 class="cover-heading">Be ready, we are launching soon</h1>
                    <div id="clock-countdown" class="animated bounceInDown" data-animation-delay="700"></div>
                    <p class="lead">
                        This website is currently underconstruction. Stay tuned and fallow closely this countdown this what we have in store for you 🙈
                    </p>
                    <!--
                    <p class="lead">
                        <a href="#" class="btn btn-lg btn-default">Learn more</a>
                    </p>
                    -->
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Click to see our amazing <a href="../promo">promotional web site</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}