{% extends '::base.html.twig' %}

{% block body %}

    <div class="zone" id="z0">
        <div class="zbackground"></div>
    </div>

    <div class="container confirmed">
    <div class="well">
        <h1>Partie crée avec succès !</h1>
        <a href="{{ path('mesparties') }}">Retour à la gestion des parties</a>
    </div>
    </div>

{% endblock %}