{% extends '::base.html.twig' %}

{% block body %}
    <div class="zone" id="z0">
        <div class="zbackground"></div>
    </div>

    <ul>
        {% for cocktail in  cocktailtous %}
            <li>{{ cocktail.cocktailNom }}
                {{ cocktail.cocktailCategorie }}
                {{ cocktail.cocktailDescription }}
                <img src="{{ asset('assets/img/cartes/'~cocktail.cocktailImage ) }} " style="width : 150px;" />
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}
    Univers
{% endblock %}

